<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>This is home page</title>
        <link rel="shortcut icon" href="http://static.bootcss.com/www/assets/ico/favicon.png">
        <link rel="stylesheet" type="text/css" href="http://www.liber.tech/static/css/main.css">
        <style>
            .center {
                position: relative;
                top: 50px;
                height: auto;
                width: 600px;
                margin: auto;
                margin-top: 20px;
            }
        </style>
        <script src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>
    </head>
    <body>
        <h2>十四个Nobody</h1>
        <p>
        强烈的阶级意识是英国人奉献给人类社会的文化特产。英国人的阶级划分，与职业、身份关系不大，
        甚至也与钱无关，判断一个英国人社会阶层的方式微妙而怪异：你说话的口音、所用的词汇；你如何
        装饰、排列花园的植物；星期天到了，你是自己洗车，还是开到洗车铺里；你吃什么不重要，重要的
        是你吃喝的地点，时间，方式以及和谁一起吃；喝茶加糖，哪怕只加一匙，都暴露了你所属的阶层不
        高级；至于穿衣服，任何时尚的打扮都是低俗的标志，外表最好过时落伍，以表示你对如何着装根本
        不屑。。。
        </p>
        <p>
        判断一个人所属的阶级，也是英国人喜欢干的事。1963年，社会学家洛克伍德发起一种“超阶级理论”，
        他认为，随着社会的发展和财富的增加，有一部分人能通过自身的奋斗或其他综合因素，从社会较低阶级
        脱离，身份蜕变，在生活方式、思想方法、言谈举止等方面，步入社会的高级阶层。
        </p>
        <p>
        观点引起英国导演迈克·艾伯特的兴趣，他决定检验“超阶级理论”。1964年，他亲自选择来自社会不同阶层
        的十四个七岁的英国小孩，从当年开始，每隔七年，给这帮孩子拍一部纪录片。七岁，十四岁，二十一岁，
        二十八岁，三十五岁，四十二岁，四十九岁······最新一集完成于2012年，这帮孩子已经五十六岁。迈克·
        艾伯特想知道，这些起跑于不同阶级的孩子，长大后，是沿袭原有的阶级轨道，重复父辈的生活，还是有
        机会改变自己的阶级属性，产生突变，跻身于更高就的阶级。
        </p>
        <p>
        约翰是上流社会的孩子，七岁时他已经开始阅读《观察家报》，端坐在沙发上畅谈自己的未来；安德鲁读的是
        《金融时报》，会用拉丁文唱歌，理想是读剑桥三一学院，毕业后做律师；而对平民出身的托尼来说，能做个
        “赛马骑手”就已经美梦成真了；十四人中唯一的非白人孩子，西蒙是印度移民的后代，没有能力规划自己的未
        来，你问他“怎么看待有钱人”，他回答“没想过”，也许他的生活中从来没有出现过有钱人·····迈克·艾伯特
        将镜头对准这些孩子：有的父辈是精英，就读高级寄宿制学校，有的则来自老工业重镇利物浦。三个女孩出身
        东伦敦的贫民区；还有的来自“儿童之家”，在没有父母的情况下长大；另外一个来自农村山区······孩子们
        面对镜头，即使什么都不说，也彰显着“阶级”在他们身上的印记。
        </p>
        <p>
        十四岁，二十一岁，二十八岁，三十五岁······没有什么比用半天时间，坐在家里的沙发上，看别人的人生
        一闪而过更让人开心了。七岁就看《金融时报》的安德鲁，读完私立贵族学校后果真考取了剑桥，如愿做了律
        师，在伦敦市郊有了自己的别墅，成为皇家法律顾问。可内尔的运气就没那么好，十四岁立志掌握政治权力
        创造财富，后来牛津没考上，读个普通大学还辍学，在苏格兰西部的荒野上游荡。二十八岁时，对于人生和
        理想，他说“不是我想做什么，而是我能做什么”。等到四十二岁时参与地方政治，日常生活平淡忙碌，最后对
        着镜头说：“我没有什么可抱怨的，我正在慢慢习惯这一切。”那个七岁时摇晃着脑袋说要做骑手的男孩，十四
        岁还真去马会做学徒了，可一年后就放弃了，“天分不够”，对自己有点失望，不过还是得生活，又去开的士，
        然后结婚生子，少时的梦想渐行渐远。从小要探索月亮奥秘的小孩卢斯，后来成了一名工程师，可研究项目失败，
        回到大学做了教授，像大多数教师一样，为取悦学生有时候难免表现出不自然的风趣和谦卑。
        </p>
        <p>
        童年时快乐无忌；十四岁青春期，面对镜头时羞涩不自然；二十一岁开始抽烟酗酒，或嬉皮打扮，蔑视社会，同时
        爱情苏醒；二十八岁有人结婚生子进入家庭，少年时的叛逆已然远去；三十五岁进入事业分水岭，成就有高有低，
        目光不再锐利，身体开始发福，迈向中年；四十二岁时大多数人承认维持一段婚姻并不容易，年轻时无论多么神奇
        的爱情这时也出现了裂痕，有人离异，事业无力，生活混乱，人生进入内外交困的黑暗期，有人面对镜头说：婚姻
        是件愚蠢的事；四十九岁继续寻找出路，有人再婚，影片中出现新的伴侣和孩子，为孩子的未来操碎了心；五十六
        岁，当年在游乐场无忧无虑一起疯玩的孩子们，已经各自走过了人生的大半程，隐隐带着每个人生命中的缺憾，不再
        挣扎，百困不侵，含饴弄孙，安心老去······
        </p>
        <p>
        如果有观众从1964年开始追踪这部纪录片，等待那些可爱的孩子们长大后演绎出精彩人生，多半要失望，因为等了四
        十多年，他们终于等到十四个天使慢慢变成十四个Nobody。看他们小，看他们老，看他们努力奋斗，看他们徒劳挣扎。
        </p>
        <p>
        拍完《五十六岁》，导演迈克·艾伯特已经七十三岁。他发现自己本来试图呈现英国社会阶级状况的政治动机，却演变
        一个命运的沉思者，一个“存在主义者”。这部片子让我们看到政治，看到文化，看到因果，看到别人的命运，也看到
        自己。
        </p>
        <p>
        看完这部片子得出两条结论。一是优良的社会资源早已按既定格局被瓜分殆尽：高阶层的孩子基本没有偏离“精英传送
        带”，安享父辈的生活；低阶层的孩子也少有成功上位，只得一路沿袭辍学、早婚、多子、失业的底层命运，陷落于“
        阶级的混凝土”。第二个结论是，即便如此，人生的微妙感，也没有因其出身阶层的不同有本质变化。精英阶层看似生
        活舒适，但社会对他们的要求更多，他们自身的欲望也更强，他们实现自己欲望的阻力、成本和代价也更大，一旦失败，
        命运更加惨烈。他们和梦想的距离，与底层阶级与梦想的距离其实是一样的－－如果不是更大的话。这个距离坚如磐石，
        宿命般强加给任何一个阶层，无论高低。这点中外同轨。
        </p>
        <p>
        迈克·艾伯特把这部影片的拍摄周期定为七年，灵感来自耶稣会的格言：“把孩子交给我，只要七年，我就能给你一个男
        人。”希伯来语中，基数词“七”的词根有“完美的含义，如此一来，回到影片本身，听上去是不是有点儿祈愿抑或是暗讽
        的意味？
        </p>
        <p>
        用一个下午看完《七年》，我们眼睁睁地看着快乐和清梦是如何远离那一张张脸，那些一开始稚气，继而不屑，然后迷茫，
        再后来麻木，最后是无所谓的脸。与人生相比，国家、民族、阶级、时代都不重要，人生的本质，是人性和时间。这不只
        是万里之外十四个英国孩子的故事，也是包括你我在内身边大多数人的故事。哪里能有什么不一样？天地万物之逆旅，光
        阴百代之过客，浮生若梦，为欢几何，剩下的只是苍茫时间里有去无回的人。
        </p>
    </body>
</html>
