<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>This is home page</title>
        <link rel="shortcut icon" href="http://static.bootcss.com/www/assets/ico/favicon.png">
        <link rel="stylesheet" type="text/css" href="http://www.liber.tech/static/css/main.css">
        <style>
            .center {
                position: relative;
                top: 50px;
                height: auto;
                width: 600px;
                margin: auto;
                margin-top: 20px;
            }
        </style>
        <script src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>
    </head>
    <body>
        <h2>十四个Nobody</h1>
            <p>
            强烈的阶级意识是英国人奉献给人类社会的文化特产。英国人的阶级划分，与职业、身份关系不大，
            甚至也与钱无关，判断一个英国人社会阶层的方式微妙而怪异：你说话的口音、所用的词汇；你如何
            装饰、排列花园的植物；星期天到了，你是自己洗车，还是开到洗车铺里；你吃什么不重要，重要的
            是你吃喝的地点，时间，方式以及和谁一起吃；喝茶加糖，哪怕只加一匙，都暴露了你所属的阶层不
            高级；至于穿衣服，任何时尚的打扮都是低俗的标志，外表最好过时落伍，以表示你对如何着装根本
            不屑。。。
            </p>
            <p>
            判断一个人所属的阶级，也是英国人喜欢干的事。1963年，社会学家洛克伍德发起一种“超阶级理论”，
            他认为，随着社会的发展和财富的增加，有一部分人能通过自身的奋斗或其他综合因素，从社会较低阶级
            脱离，身份蜕变，在生活方式、思想方法、言谈举止等方面，步入社会的高级阶层。
            </p>
            <p>
            观点引起英国导演迈克·艾伯特的兴趣，他决定检验“超阶级理论”。1964年，他亲自选择来自社会不同阶层
            的十四个七岁的英国小孩，从当年开始，每隔七年，给这帮孩子拍一部纪录片。七岁，十四岁，二十一岁，
            二十八岁，三十五岁，四十二岁，四十九岁······最新一集完成于2012年，这帮孩子已经五十六岁。迈克·
            艾伯特想知道，这些起跑于不同阶级的孩子，长大后，是沿袭原有的阶级轨道，重复父辈的生活，还是有
            机会改变自己的阶级属性，产生突变，
            </p>
        </article>
    </body>
</html>
