<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>2048</title>

  <link href="http://liber.tech/static/style/main.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="http://liber.tech/static/images/favicon.ico">
  <link rel="apple-touch-icon" href="http://liber.tech/images/apple-touch-icon.png">
  <link rel="apple-touch-startup-image" href="http://liber.tech/static/images/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"> <!-- iPhone 5+ -->
  <link rel="apple-touch-startup-image" href="http://liber.tech/static/images/apple-touch-startup-image-640x920.png"  media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)"> <!-- iPhone, retina -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" style="opacity: .9" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">不着急、不害怕、不要脸</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="http://liber.tech/about/">About</a></li>
              <li class="active"><a href="http://liber.tech/">Blog</a></li>
              <li><a href="http://liber.tech/game/2048/">Game</a></li>
              <li><a href="https://github.com/hanx11">GitHub</a></li>
          </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="heading">
      <h1 class="title">2048</h1>
      <div class="scores-container">
        <div class="score-container">0</div>
        <div class="best-container">0</div>
      </div>
    </div>

    <div class="above-game">
      <p class="game-intro">Join the numbers and get to the <strong>2048 tile!</strong></p>
      <a class="restart-button">New Game</a>
    </div>

    <div class="game-container">
      <div class="game-message">
        <p></p>
        <div class="lower">
	        <a class="keep-playing-button">Keep going</a>
          <a class="retry-button">Try again</a>
        </div>
      </div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>

      <div class="tile-container">

      </div>
    </div>

    <p class="game-explanation">
      <strong class="important">How to play:</strong> Use your <strong>arrow keys</strong> to move the tiles. When two tiles with the same number touch, they <strong>merge into one!</strong>
    </p>
    <hr>
  </div>

  <script src="http://liber.tech/static/js/bind_polyfill.js"></script>
  <script src="http://liber.tech/static/js/classlist_polyfill.js"></script>
  <script src="http://liber.tech/static/js/animframe_polyfill.js"></script>
  <script src="http://liber.tech/static/js/keyboard_input_manager.js"></script>
  <script src="http://liber.tech/static/js/html_actuator.js"></script>
  <script src="http://liber.tech/static/js/grid.js"></script>
  <script src="http://liber.tech/static/js/tile.js"></script>
  <script src="http://liber.tech/static/js/local_storage_manager.js"></script>
  <script src="http://liber.tech/static/js/game_manager.js"></script>
  <script src="http://liber.tech/static/js/application.js"></script>
</body>
</html>
