<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
        <title>About me...</title>
        <link rel="shortcut icon" href="http://static.bootcss.com/www/assets/ico/favicon.png">
        <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
        <!-- <link rel="stylesheet" type="text/css" href="http://liber.tech/static/css/home.css"> -->
        <link rel="stylesheet" type="text/css" href="http://liber.tech/static/css/main.css">
    </head>
    <body>
    	<nav class="navbar navbar-default navbar-fixed-top" style="opacity: .9" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">不着急、不害怕、不要脸</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                    	<li><a href="http://liber.tech/about/">About</a></li>
                        <li class="active"><a href="http://liber.tech">Blog</a></li>
                        <li><a href="http://liber.tech/game/2048/">Game</a></li>
                        <li><a href="https://github.com/hanx11">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div>
        	<p>暂时，还什么都没有哦。。。</p>
        </div>
    </body>
</html>