<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
        <title>日常生活的革命</title>
        <link rel="shortcut icon" href="http://static.bootcss.com/www/assets/ico/favicon.png">
        <link rel="stylesheet" type="text/css" href="http://www.liber.tech/static/css/main.css">
    </head>
    <body>
    	<h2>日常生活的革命</h2>
        <h4>作者：王锋</h4>
        <p>一个小区能告诉我们什么：</p>
        <p>拥有三家二十四小时连锁店的小老板；</p>
        <p>一个四十多岁干净利落咄咄逼人的业主意见领袖；</p>
        <p>整天跟有钱人打交道向富豪兜售游艇的商人；</p>
        <p>参加过解放战争、抗美援朝，后来当了公安局长的罗姓老兵。</p>
        <p>还有某一个夜晚，穿着一双红拖鞋，从二十八楼一跃而下的年轻女子······</p>
        <p>
        这个小区是北京近年来野草般蹿长的无数个小区中的一个，位于CBD东部边界，距离国贸和央视标志性大楼还不到两公里。
        该小区房价逼近两万元每平米，住着一大群来源广泛属性复杂的居民。我们选择这个小区作为一个节点，识别，分析和探究，
        希望能一窥当今中国一个普通中产社区的生活情况和风貌。
        </p>
        <p>
        8月24日的《泰晤士报》上，记者Prray从北京发回的一篇报道说：“中国人拥有越来越成熟的个人生活，国家意志和财富
        攫取不再像十年前那样主宰一切，或许这才是这个国家最值得关注的变化。” 的确，我们终于赢得了一种人之为人的日常
        生活：一份维持生计的工作，复杂纠结的情感，相对自由的个人选择，独自享有的身体空间，漂亮的设计和物品······
        这些看似寻常又得之不易得日常生活，正是发生在无数个“异构空间”里的故事。
        </p>
        <p>
        前不久看过一部电影，贝托鲁奇拍摄的The Dreamers。革命年代的三个青年模仿戈达尔的《法外之徒》，在卢浮宫一路飞奔。
        他们讨论战争与和平、民主与自由。当其中两个在厨房地上做爱的时候，另一个若无其事地在一旁煎鸡蛋。他们没有负担——连
        衣服的负担都没有，光着身子起床、刷牙、读书、做爱、吃饭，所有的激情、口号、政治理想、面包和性都是游戏。尽管电影
        中出现了很多重大的历史符号，可在真正随性、平静的生活面前都退居背景。我们最终感受到的只是三个年轻人个人的、日常
        的、审美的生活。
        </p>
        <p>
        日常生活是审美的生活。从情感、意愿、操行，到车、表、美食、日常器具，再到山川气色、天地万物，都构成日常生活之美。
        一百多年前，杜尚用一个尿盆以惊世骇俗的方式提醒我们，美就是我们日常使用的器具，艺术就存在我们的日常生活之中。到
        如今，一个消费社会来临，从建筑设计、商品广告，到个人包装、饮料菜肴，从立体环绕、画面素质，到手机等数码产品的材
        质和触感，审美更是贯穿于生活各个层面，无所不用其极。
        </p>
        <p>
        日常生活是个人的生活。在一个以“生产”为核心的社会里，职业、信仰、组织架构等要素赋予每个人更多的共性，占据了我们
        从生到死的一切；可现在的“消费”时代，休闲、享乐、个人趣味成为我们的日常生活。我们不用再被一个人的声音左右，不用
        看一本书和穿一种颜色的衣服，经济发展一个神启般的后果就是极大地解放了个人，个性生活取代了集体的共性。波德里亚是
        第一个用“消费社会”来界定当代社会的西方人，他说：“如果说有一样东西是马克思所未曾想到的话，那就是释放、耗费、挥
        霍、游戏和最大限度的个人自由。”
        </p>
        <p>
        日常生活也是最人性的生活。很多人都鬼迷心窍地希望自己活得惊涛骇浪，但坦率地说，少有人有幸遭遇，更没几个人能真正
        承受那样的生活。95%的人被日常生活覆盖。即便是另外5%的幸运儿，在享有巅峰生活的同时，多半也会为自己的癫狂付出代
        价。这个社会往往高估了“成功”的价值和意义。最人性的生活，应该是能让大多数人的情感和意志得到安抚的生活，它应该有
        助于养育我们智取、和谐的心性，不妄求，不焦躁，不窘迫，不苟且，那正是我们的日常生活。
        </p>
        <p>
        日常生活也是我所倡导的生活。当我们把生活从家国社稷、财富、成功转移到日常、个人和审美的时候，一场最深刻的革命发
        生了。这场革命尊重个人意愿和智识，尊重美和情感，尊重一切提升我们生活品质的物质和精神；这场革命不喧嚣，不流血，
        不以丧失人性为代价，没有破坏只有建设。它唯一的目标，就是驱散虚妄和贪欲的迷雾，还原、铸造坚硬如磐石的生活常识；
        这场革命是真正民主的革命，它的收益者不再是少数权贵和竞技场上的赢家，而是每一个能感受和领悟它价值的普通人。
        </p>
        <p>
        1995年，美国经济学家加尔布雷斯写了一本书《美好社会》。这本书里，已经耄耋之年的他一反前大半辈子对人类社会激烈批
        评的立场，以理性宽容的笔墨，论证了“日常生活”在人类历史进程中独特价值。他说，日常生活才是“每一个人类成员都能享受
        的美好生活”，它“奠定了真正人性的历史”。
        </p>
        <p>
        在经历了一个个极端偏执的年代后，我们开始了对冷静、理智、温和、日常生活的追求。我们怀念二十年前逝去的一位诗人，他
        曾经是我们时代的偶像。我们缅怀他，不是因为他是一位诗人，而是缅怀他对日常生活的热爱：“从明天起，做一个幸福的人／
        喂马，劈柴，周游世界／从明天起，关心粮食和蔬菜······”
        </p>
    </body>
</html>