<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
    	<title>我的2016</title>
    	<link rel="shortcut icon" href="http://static.bootcss.com/www/assets/ico/favicon.png">
        <link rel="stylesheet" type="text/css" href="http://www.liber.tech/static/css/main.css">
    </head>

    <body>
    	<h2>我的2016</h2>
    	<h4>作者：韩丰</h4>

    	<p>
            1、在老爸的催逼下，在老家淮安买了套房子，欠了银行二十来万的贷款，
            要还十五年，每个月一千六。昨天和他通电话，他激动的说，房价涨了，
            现在出手，净赚五万。可是也不能卖啊……：）
        </p>
        <p>
            2、换了两次工作，一次是主动跳槽，一次是被迫换工作。不过，从结果看，
            都还不错，至少薪水涨了。第一次是四月十五号从国瑞信安离职，四月二十
            号入职满分姐。第二次是十月二十号从满分姐离职，十月二十四号入职正和
            传媒。换了公司，但做的工作还都是一样的后端开发。技能上，在满分姐这
            六个月，学到的东西相对较多一点，这也使得自己后面进入正和传媒的时候
            具备了独挡一面的能力。
        </p>
        <p>
            3、十一月份买了个IKBC的青轴机械键盘，击落感非常好。八月份买了台奥
            林巴斯 E-M10  Mark 2微单相机和一辆26寸永久牌山地自行车。买相机
            是希望自己能不要那么宅，多出去走走，看看，拍些照片，培养个业余爱好。
            可是现在看来这个愿望在2016年算是落空了，因为从买了相机到目前为止，
            只出去拍过两三次，地点分别是附近的南理工大学和钟山风景区。希望2017
            年能多出去走走看看，多拍点照片。：）自行车倒是骑了差不多有两个月，
            估摸着有四五百公里里程了吧……
        </p>
        <p>
            4、个人情感上还是没有着落，先后对两个姑娘产生了兴趣，但是都以无声
            无息的失败告终。可能还是自己有很大的问题，在与人交往上，太笨拙。
            感觉自己开始有明显的社交障碍恐惧症的倾向。
        </p>
        <p>
            5、书，买了二十几册。其中有王小波全集一套十册，冯唐的在宇宙间不易
            被风吹散，讲恋物的，买了两本。书商抽奖送了本签名版还有件黑色T恤，
            上面印有冯唐手书的“在宇宙间，不易被风吹散”，穿上，有种很文艺的感觉
            ……：）。蒋勋的美的沉思，毛姆的月亮与六便士，王锋的愿你道路漫长，
            塞林格的麦田里的守望者，Eric S Raymond的大教堂与集市，彼得.提尔
            的从0到1，米兰.昆德拉的不能承受的生命之轻，刘慈欣的三体一套，
            瓦西里.格罗斯曼的生活与命运。细细数来，读完的不到一半，真是羞愧。
            我也应了那句买书如山倒，读书如抽丝。2017年，要把这些书都至少读一遍，
            除了王小波全集外。
        </p>
    </body>
</html>